@font-face {
    font-family: "Dot-Matrix";
    src: url(dotmatrix.ttf);
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#displayBoardWrapper {
    display: block;
    width:95%;
    min-width: 750px;
    background-color: silver;
    margin: auto;
    padding:10px;
}

#displayBoardInnerWrapper {
    background-color: black;
    margin-bottom:5px;
    width:100%;
    height:240px;
}

#displayBoardWrapper table {
    font-family:'Dot-Matrix' !important;
}

.board-top {
    height: 80px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: black;
    color: orange;
    text-align: center;
}

.board-top div {
    width: 98%;
    height: 100px;
    margin: 0;
    line-height: 50px;
}

.board-top table {
    width: 100%;
    height: 100%;
}

.board-top td {
    font-size:50px;
}

#nextTrainTime {
    width:110px;
    margin: 0;
    text-align: left;
    color:#f01c5c;
}

#nextTrainPlatform {
    width:80px;
    text-align: center;
    color:lightgray;
}

#nextTrainDest{
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    color:#f2ad19;
}

#nextTrainExpected{
    white-space: nowrap;
    overflow: hidden;
    width:275px;
    text-align: right;
    color:green;
}

.blink_me {
    animation: blinker 1s linear infinite;
  }
  
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


.board-middle {
    height: 80px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: black;
    color: orange;
}

.board-middle div {
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.board-middle table {
    width: 100%;
    height: 100%;
}

#board-middle-table-row {
    height:100%;
}

.board-middle td {
    display: table-cell;
    vertical-align: middle;
}

#callingAtLabel{
    font-size:40px;
    text-align: left;
    color:#ff0000;
    padding-left:5px;
    padding-right:25px;
}

#callingAtText{
    color:#ffc000;
    height: 95%;
    width:100%;
}

/* Container styles */
.scrolling-text-container {
    overflow: hidden;
    color:#ffc000;
    margin-right:20%;
}

/* Inner container styles */
.scrolling-text-inner {
    white-space: nowrap;
    font-size:40px;
}

/* Text styles */
.scrolling-text {
    display:flex;
}

.scrolling-text-item {
    padding: 0 30px;
    padding-top:10px;
}

/* Apply the animation to the text items */
.scrolling-text-inner>div {
    animation: var(--direction) var(--marquee-speed) linear infinite;
}

/* Setting the Animation using Keyframes */
@keyframes scroll-left {
    0% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.board-bottom {
    height: 80px;
    width:98%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    background: black;
    color: orange;
}

.board-bottom div {    
    width:100%;
    height: 100%;
    line-height: 50px;
    text-align: center;
}

.board-bottom table {
    width: 100%;
    height: 100%;
}

.board-bottom td {
    font-size:50px;
}

#boardBottomText{
    width:100%;
    text-align: center;
    color:lightblue;
}

.nextTrainsTable {
    width:100%;
    white-space: nowrap;
    overflow: scroll;
}

#nextTrainsTableDueOnTime {
    text-align: right;
    color:green;
}

#nextTrainsTableDueLate {
    text-align: right;
    color:red;
}

#noNextTrainTitle{
    margin-left:auto;
    margin-right:auto;
    color:#f2ad19;
}

.bottomOfScreenText {
    text-align: center;
    margin-top:15px;
    margin-bottom:auto;
    color: rgba(255,255,255,0.4);
    text-shadow: 0 -2px  rgba(0,0,0,0.6);
    font-size: 20px;
}

div.bottomOfScreenText > * {
    color: rgba(255,255,255,0.4);
    text-shadow: 0 -2px  rgba(0,0,0,0.6);
    font-size: 20px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 5px;
  }

  #footer  * {
    color: rgba(255,255,255,0.4);
    text-shadow: 0 -2px  rgba(0,0,0,0.6);
    font-size: 20px;
}